<launch>

   <!-- laod bag file -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--loop --clock --rate 1.0 $(find v4r_artoolkitplus)/bags/moving_arplus_single_marker_2013-11-18-10-26-17.bag"/>
    <node pkg="image_view" type="image_view" name="image_view" output="screen" >
    <remap from="image" to="camera/image_raw"/>   		
  </node>

   <!-- undistore image -->
  <group ns="camera" > 
    <node pkg="image_proc" type="image_proc" name="image_proc" />
  </group>

   <!-- RVIZ -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find v4r_artoolkitplus)/cfg/rviz/demo.rviz"/>

   <!-- laod detection -->
  <include file="$(find v4r_artoolkitplus)/launch/single_marker.launch" />
  
</launch>

